#drivers {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#drivers {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#drivers td,
#drivers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#drivers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#drivers tr:hover {
  background-color: #ddd;
}

#drivers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
